<div class="modal-header">
    <h5 class="modal-title">Edit {{ user.name }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Closed')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="onSave()">
        <div class="form-group">
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-user"></i></div>
                </div>
                <input type="text" [(ngModel)]="user.name" name="name" id="userName" placeholder="Name" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-envelope-o"></i></div>
                </div>
                <input type="text" [(ngModel)]="user.email" name="email" id="userEmail" placeholder="E-mail address"
                       class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-mobile"></i></div>
                </div>
                <input type="text" [(ngModel)]="user.phone" name="phone" id="userPhone" placeholder="Phone number"
                       class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-globe"></i></div>
                </div>
                <input type="text" [(ngModel)]="user.website" name="website" id="userWebsite" placeholder="Homepage"
                       class="form-control"/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Cancel')">Cancel</button>
</div>
